/* body{
    background-color: lightgray;
} */
.logo{
    width:30%;
}
h1{
    color:orange;
    text-align: center;
}
p{
    color: gray;
    text-align: center;
}
#background-video {
    height: 80vh;
    width: 100vw;
    /* object-fit: cover; */
    position: move;
    left: 0;
    right: 0;
    /* top: 0;
    bottom: 0; */
    z-index: -1;
}
.form{
    position: relative;
    left:80px;
    top:200px;
}
.card{
    top: 330px;
}

